html {
    font-family: monospace;
    font-size: 1rem;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    max-width: 60rem;
    padding: 0 0.5rem;
}

textarea {
    max-width: 100%;
}

button {
    font: inherit;
}

.posts {
    list-style: none;
    padding: 0;
}

.post {
    display: flex;
    margin: 1rem 0;
    border: 2px solid black;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0.25rem 0.25rem 0 0rem #aaa;
}

.post__header {
    margin-bottom: 1rem;
}

.post__content {
    font-size: 1.5rem;
}

.post__avatar {
    border-radius: 0.25rem;
    border: 2px solid black;
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
    object-fit: cover;
}

/* TODO: on mobile, have the avatar + header on top, with the content below */
