html {
    font-family: monospace;
    font-size: 1rem;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    max-width: 60rem;
    padding: 0 0.5rem;
}

textarea {
    max-width: 100%;
}

.posts {
    list-style: none;
    padding: 0;
}

.post {
    margin: 1rem 0;
    border: 2px solid black;
    padding: 0.5rem;
}

.post__header {
    margin-bottom: 0.5rem;
}

.post__content {
    font-size: 1.25rem;
}

.post {
    display: flex;
}

.post__avatar {
    /* border-radius: 50%; */
    /* I used https://bennettfeely.com/clippy/ */
    clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 100% 75%, 75% 100%, 25% 100%, 0% 75%, 0% 25%);
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.5rem;
    object-fit: cover;
}
