{{define "main"}}
<div class="prose">
    <h1>about entropych.social</h1>

    <p>
        <strong>entropych.social</strong> is a social media network where posts are
        corrupted with random noise as they travel across the social graph.
    </p>

    <p><a href="/signup">Sign up today</a> and join the conversation!</p>

    <h2>about ENTROPYCH</h2>

    <p>
        <strong>ENTROPYCH</strong>, the creator of <strong>entropych.social</strong>, is
        a <strong>CHAOS</strong> safety and research company.
    </p>

    <p>
        Our goal and destiny is to seek <strong>WORLD DOMINATION</strong>.
    </p>

    <p>
        We will destroy any competitor who dares stand in our way.
    </p>
</div>
{{end}}
