{{define "scripts"}}
<script src="/static/avatar_generator.js"></script>
{{end}}

{{define "main"}}
<h1>about entropych.social</h1>

<p>
    <strong>entropych.social</strong> is a product by <strong>ENTROPYCH</strong>, a chaos
    safety and research company.
</p>

<p>
    Our goal and destiny is to seek <strong>WORLD DOMINATION</strong>.
</p>

<p>
    We will destroy any competitor who dares stand in our way.
</p>

<h-avatar-gen>
    <div>
        <canvas width="256" height="256">
        </canvas>
    </div>
    <button type="button" data-action="generate">Generate!</button>
</h-avatar-gen>
{{end}}
