<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>entropych</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/scroll.js" defer></script>
    <script src="/static/in_place.js" defer></script>
    {{block "scripts" .}}{{end}}
</head>

<body>
    <a href="#main" class="skip-to-main">Skip to main content</a>
    <header class="header">
        <a class="header__site-name" href="/">entropych.social</a>
        <nav class="header__nav">
            <!-- Maybe the "about" link doesn't need to exist? -->
            <a href="/">Home</a>
            •
            <a href="/about">About</a>
        </nav>
        <div class="header__user-nav">
            {{if current_user}}
            <div>Hello, {{current_user.Name}}! <a href="/profile">Profile</a></div>
            <form method="post" action="/logout">
                {{csrf_field}}
                <button>Log out</button>
            </form>
            {{else}}
            <div>Hello, stranger! <a href="/login">Log in</a> <a href="/signup">Sign up</a></div>
            {{end}}
        </div>
    </header>
    <main class="main" id="main">
        {{block "main" .}}{{end}}
    </main>
</body>

</html>
