{{define "scripts"}}
<script src="/static/scroll.js" defer></script>
{{end}}

{{define "main"}}
<h1>entropych.social</h1>

{{if .User}}
<p>Hello, {{.User.Name}}!
<form method="post" action="/logout">
    {{.CSRFField}}
    <button>Log out</button>
</form>
</p>
{{else}}
<p>Hello, stranger! <a href="/login">Log in</a> <a href="/signup">Sign up</a></p>
{{end}}

{{if .User}}
<form method="post" action="/posts/new">
    {{.CSRFField}}
    <div><label for="content">shout into the void</label></div>
    <div><textarea id="content" name="content" rows="4" cols="60"></textarea></div>
    <div><button>Post!</button></div>
</form>
{{end}}

<ul class="posts" id="posts">
    {{range .Posts}}
    {{template "post" .}}
    {{end}}
    {{if .NextPageURL}}
    <h-infinite-scroll data-controls="posts">
        <a href="{{.NextPageURL}}" data-rel="next">More</a>
    </h-infinite-scroll>
    {{end}}
</ul>
{{end}}
