{{define "scripts"}}
<script src="/static/scroll.js" defer></script>
{{end}}

{{define "header_inner"}}
<!-- TODO: render this on every route -->
{{if .User}}
<div>Hello, {{.User.Name}}! <a href="/profile">Profile</a></div>
<form method="post" action="/logout">
    {{csrf_field}}
    <button>Log out</button>
</form>
{{else}}
<div>Hello, stranger! <a href="/login">Log in</a> <a href="/signup">Sign up</a></div>
{{end}}
{{end}}

{{define "main"}}
{{if .User}}
<form method="post" action="/posts/new">
    {{csrf_field}}
    <div><label for="content" class="big-label">{{post_cta}}</label></div>
    <div><textarea id="content" name="content" rows="4" cols="60"></textarea></div>
    <div><button>Post!</button></div>
</form>
{{else}}
<p>
    Curious about what everyone is talking about?
    <a href="/signup">Join <strong>entropych.social</strong></a> to find out.
</p>
<p>
    <strong>entropych.social</strong> is a social media network where other users' posts
    get corrupted with random noise based on how far away they are from you in the
    social graph.
</p>
{{end}}

<ul class="posts" id="posts">
    {{range .Posts}}
    {{template "post" .}}
    {{end}}
    {{if .NextPageURL}}
    <h-infinite-scroll data-controls="posts">
        <a href="{{.NextPageURL}}" data-rel="next">More</a>
    </h-infinite-scroll>
    {{end}}
</ul>
{{end}}
