{{define "main"}}
{{if .User}}
<form method="post" action="/posts/new" class="stack">
    <div class="field">
        <label for="content" class="big-label">{{post_cta}}</label>
        <textarea id="content" name="content" rows="4" cols="60"></textarea>
    </div>
    <button class="big-button">Post!</button>
    {{csrf_field}}
</form>
{{else}}
<h1>{{distort "Welcome to entropych.social" 3}}</h1>
<p>
    Curious about what everyone is talking about?
    <a href="/signup">Join <strong>entropych.social</strong></a> to find out.
</p>
<p>
    <strong>entropych.social</strong> is a social media network where posts are
    corrupted with random noise as they travel across the social graph.
</p>
{{end}}

<ul class="posts" id="posts">
    {{range .Posts}}
    {{template "post" .}}
    {{end}}
    {{if .NextPageURL}}
    <h-infinite-scroll data-controls="posts">
        <a href="{{.NextPageURL}}" data-rel="next">More</a>
    </h-infinite-scroll>
    {{else}}
    <p class="whisper">(The end.) <a href="/">Back to top</a></p>
    {{end}}
</ul>
{{end}}
