{{define "main"}}
<h1>Log in</h1>

<p>Don't have an account? <a href="/signup">Sign up</a></p>

{{template "form_errors" .Errors}}

<form method="post" action="/login">
    {{csrf_field}}
    <div>
        <label>
            Username:
            <input type="text" name="name" required>
        </label>
    </div>
    <div>
        <label>
            Password:
            <input type="password" name="password" required>
        </label>
    </div>
    <div>
        <button>Log in</button>
    </div>
</form>
{{end}}
