{{define "main"}}
<h1>Log in</h1>

<p>Don't have an account? <a href="/signup">Sign up</a></p>

{{template "form_errors" .Errors}}

<form method="post" action="/login" class="stack">
    {{csrf_field}}
    <div class="field">
        <label class="field__label" for="name">
            Username
        </label>
        <input type="text" id="name" name="name" required>
    </div>
    <div class="field">
        <label class="field__label" for="password">
            Password
        </label>
        <input type="password" id="password" name="password" required>
    </div>
    <button>Log in</button>
</form>
{{end}}
