{{define "main"}}
<h1>Sign up</h1>

<p>Already have an account? <a href="/login">Log in</a></p>

{{template "form_errors" .Errors}}

<form method="post" class="stack">
    {{csrf_field}}
    <div class="field">
        <label class="field__label" for="name">
            Username
        </label>
        <input type="text" id="name" name="name" value="{{.Name}}" required autocomplete="username">
    </div>
    <div class="field">
        <label class="field__label" for="password">
            Password
        </label>
        <input type="password" id="password" name="password" required>
    </div>
    <button>Sign up</button>
</form>
{{end}}
