{{define "main"}}
<h1>Sign up</h1>

{{if ne (len .Errors) 0 }}
<ul>
    {{range $name, $errors := .Errors}}
    {{range $err := .}}
    <li>{{$name}}: {{$err}}</li>
    {{end}}
    {{end}}
</ul>
{{end}}

<form method="post">
    {{.CSRFField}}
    <div>
        <label>
            Username:
            <input type="text" name="name" required>
        </label>
    </div>
    <div>
        <label>
            Password:
            <input type="password" name="password" required>
        </label>
    </div>
    <div>
        <button>Sign up</button>
    </div>
</form>
{{end}}
