{{define "main"}}
<p>
    <a href="/"><- back home</a>
</p>

<h1>{{.PostingUser.Name}}</h1>
{{if .PostingUser.Bio}}
<p>{{.PostingUser.Bio}}</p>
{{end}}
<p>
    followers: {{.PostingUserFollowStats.FollowerCount}},
    following: {{.PostingUserFollowStats.FollowingCount}}
    (distance: {{.DistanceFromUser}})
</p>

{{if .LoggedInUser }}
{{if eq .LoggedInUser.UserID .PostingUser.UserID}}
<p>(This is you)</p>
{{else if .IsFollowingPostingUser}}
<p>
    Following!
<form method="post" action="{{.PostingUser.URL}}unfollow">
    {{csrf_field}}
    <button>Unfollow</button>
</form>
</p>
{{else}}
<form method="post" action="{{.PostingUser.URL}}follow">
    {{csrf_field}}
    <button>Follow</button>
</form>
{{end}}
{{else}}
<p>Log in to follow</p>
{{end}}

<ul class="posts">
    {{range .Posts}}
    {{template "post" .}}
    {{end}}
</ul>
{{end}}
