{{define "scripts"}}
<script src="/static/avatar_generator.js" defer></script>
{{end}}

{{define "main"}}
<p>
    <a href="/"><- back home</a>
</p>

<h1>{{.User.Name}}</h1>

<form method="post" enctype="multipart/form-data" class="stack">
    {{csrf_field}}
    {{template "form_errors" .Form.Errors}}
    <!--
    <div class="field">
        <label for="display_name" class="field__label">
            Display Name
        </label>
        <input type="text" id="display_name" name="display_name" value="{{.Form.DisplayName}}">
    </div>
    -->
    <div class="field">
        <label for="bio" class="field__label">Bio</label>
        <textarea name="bio" id="bio" rows="4" cols="60">{{.Form.Bio}}</textarea>
    </div>
    <div class="field">
        <!-- TODO: display current avatar -->
        <label for="avatar" class="field__label">Avatar</label>
        <h-avatar-gen>
            <div>
                <img src="{{.User.AvatarURL}}" alt="your current avatar" width="192" height="192">
            </div>
            <div>
                <canvas width="192" height="192">
                </canvas>
            </div>
            <input type="file" name="avatar" id="avatar" accept="image/png" hidden>
            <button type="button" data-action="generate">Generate!</button>
        </h-avatar-gen>
    </div>
    <button>Save</button>
</form>
{{end}}
