{{define "main"}}
<p>
    <a href="/"><- back home</a>
</p>

<h1>{{.PostingUser.Name}}</h1>
{{if .PostingUser.Bio}}
<p class="bio">{{.PostingUser.Bio}}</p>
{{end}}
<p>
    followers: {{.PostingUserFollowStats.FollowerCount}},
    following: {{.PostingUserFollowStats.FollowingCount}}
    (distance: {{.DistanceFromUser}})
</p>

{{if .LoggedInUser }}
{{if eq .LoggedInUser.UserID .PostingUser.UserID}}
<p>(This is you.)</p>
{{else if .IsFollowingPostingUser}}
<form method="post" action="{{.PostingUser.URL}}unfollow">
    {{csrf_field}}
    <p>
        Following!
        <button>Unfollow</button>
    </p>
</form>
{{else}}
<form method="post" action="{{.PostingUser.URL}}follow">
    {{csrf_field}}
    <button>Follow</button>
</form>
{{end}}
{{else}}
<form method="post" action="{{.PostingUser.URL}}follow">
    {{csrf_field}}
    <button>Follow</button>
</form>
{{end}}

<ul class="posts" id="posts">
    {{range .Posts}}
    {{template "post" .}}
    {{end}}
    {{if .NextPageURL}}
    <h-infinite-scroll data-controls="posts">
        <a href="{{.NextPageURL}}" data-rel="next">More</a>
    </h-infinite-scroll>
    {{else}}
    <p class="whisper">(The end.) <a href="{{.PostingUser.URL}}">Back to top</a></p>
    {{end}}
</ul>
{{end}}
