{{define "post"}}
<li class="post">
    <img class="post__avatar no-mobile" src="{{.UserAvatarURL}}" alt="avatar for {{.UserName}}">
    <div class="post__main">
        <div class="post__header">
            <img class="post__avatar post__avatar--mobile mobile-only" src="{{.UserAvatarURL}}"
                alt="avatar for {{.UserName}}">
            {{if .ReplyingToPostID}}
            ↪
            {{end}}
            <a href="{{.UserURL}}">{{.UserName}}</a>
            {{if .ReplyingToPostID}}
            <span>
                replied to {{.ReplyingToPostUserName}}
            </span>
            {{end}}
        </div>
        <div class="post__content">
            {{.Content}}
        </div>
        <!-- TODO: will need some JS to make sure pagination works right here -->
        <!-- might want to return an htmx-style partial response with the updated reaction counts -->
        <h-in-place data-in-place id="post_{{.PostID}}" class="post__footer">
            {{if .Reactions}}
            {{range $reaction := .Reactions}}
            {{if $reaction.UserReacted}}
            <form method="post" action="/p/{{$.PostID}}/unreact" class="post__reactions">
                {{csrf_field}}
                <button class="post__react post__react--reacted"
                    title="You {{$reaction.Emoji}}'d this post">
                    {{$reaction.Emoji}}
                    {{$reaction.Count}}
                </button>
            </form>
            {{else}}
            <form method="post" action="/p/{{$.PostID}}/react" class="post__reactions">
                {{csrf_field}}
                <button class="post__react">
                    {{$reaction.Emoji}} {{$reaction.Count}}
                </button>
            </form>
            {{end}}
            {{end}}
            {{else}}
            <form method="post" action="/p/{{.PostID}}/react" class="post__reactions">
                {{csrf_field}}
                <button class="post__react">❤️</button>
            </form>
            {{end}}
            {{if .ReplyCount}}
            <a href="{{.PostURL}}#replies" class="post__replies-link">💬 {{.ReplyCount}}</a>
            {{end}}
            <!-- Maybe move this below, where the reactions are? -->
            <a href="{{.PostURL}}" class="post__time">
                <time title="{{.CreatedAt}}">
                    {{.CreatedAt.Format "Jan 02 2006"}}
                </time>
            </a>
        </h-in-place>
    </div>
</li>
{{end}}
