{{define "post"}}
<li class="post">
    <div class="post__main">
        <img class="post__avatar" src="{{.UserAvatarURL}}">
        <div>
            <div class="post__header">
                {{if ne .UserDisplayName .UserName}}
                <a href="{{.UserURL}}">{{.UserDisplayName}} [{{.UserName}}]</a>
                {{else}}
                <a href="{{.UserURL}}">{{.UserName}}</a>
                {{end}}
                <time class="post__time"
                    title="{{.CreatedAt}}">{{.CreatedAt.Format "Jan 02 2006"}}</time>
            </div>
            <div class="post__content">
                {{.Content}}
            </div>
        </div>
    </div>
    <!-- TODO: will need some JS to make sure pagination works right here -->
    <!-- might want to return an htmx-style partial response with the updated reaction counts -->
    {{if .Reactions}}
    {{range $reaction := .Reactions}}
    {{if $reaction.UserReacted}}
    <form method="post" action="/p/{{$.PostID}}/unreact" class="post__reactions">
        {{csrf_field}}
        <button class="post__react post__react--reacted">
            {{$reaction.Emoji}}
            {{$reaction.Count}}
        </button>
    </form>
    {{else}}
    <form method="post" action="/p/{{$.PostID}}/react" class="post__reactions">
        {{csrf_field}}
        <button class="post__react">
            {{$reaction.Emoji}} {{$reaction.Count}}
        </button>
    </form>
    {{end}}
    {{end}}
    {{else}}
    <form method="post" action="/p/{{.PostID}}/react" class="post__reactions">
        {{csrf_field}}
        <button class="post__react">❤️</button>
    </form>
    {{end}}
</li>
{{end}}
